<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">ACCUEIL</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">À PROPOS</a></li>
        <li class="nav-item"><a class="nav-link" href="#projects">PROJETS</a></li>
        <li class="nav-item"><a class="nav-link" href="#skills">COMPETENCES</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
