<header class="hero text-white d-flex align-items-center text-center">
  <div class="container">
    <h1 class="fw-bold text-white text-center hero-title">
      Bienvenue sur ma page, je suis
      <span class="text-primary">Makan DIOMBANA</span> <br>
      Développeur Full Stack Java / Angular & Ingénieur DevOps
    </h1>

    <p class="lead mt-3">
      Je conçois, développe et prépare des applications web prêtes à être déployées en production,
    </p>
    <p class="lead mt-3">
      en mettant l’accent sur la qualité, la performance et la sécurité.
    </p>

    <div class="mt-4">
      <a class="btn btn-primary btn-lg me-2" href="assets/CV-Makan-DIOMBANA.pdf" download>
        📄 Télécharger mon CV
      </a>
      <a class="btn btn-outline-light btn-lg" href="#contact">
        📬 Me contacter
      </a>
    </div>
  </div>
</header>

<section id="projects" class="py-5">
  <div class="container">
    <h2 class="fw-bold text-center">PROJETS</h2>

    <!-- Projet 1 -->
    <div class="card my-4">
      <div class="card-header">Mars 2023 - Mars 2025</div>
      <div class="card-body">
        <h5 class="card-title">SUIVI DE VEHICULES EN LOCATION – OKEN</h5>
        <p class="card-text text-start">
          <strong>Objectif</strong> : Développer une application pour gérer la location et le suivi de véhicules.<br>
          <strong>Rôle</strong> : Analyse des besoins, développement backend et frontend, tests automatisés,<br>
          conteneurisation, mise en place d’un proxy Apache, supervision avec Prometheus/Grafana.<br>
          <strong>Technos</strong> : Java 17 / Spring Boot 3.1.4, Angular 16, PostgreSQL, Docker, Apache, <br>
          Prometheus/Grafana, Windows/Linux.<br>
          <strong>Résultat</strong> : Déployé avec succès en préproduction.
        </p>
      </div>
    </div>

    <!-- Projet 2 -->
    <div class="card my-4">
      <div class="card-header">Juin 2022 - Février 2023</div>
      <div class="card-body">
        <h5 class="card-title">APPLICATION DE POINTAGE – KODEMADE</h5>
        <p class="card-text text-start">
          <strong>Objectif</strong> : Créer une infrastructure cloud AWS pour héberger une application de pointage des
          collaborateurs.<br>
          <strong>Rôle</strong> : Provisionnement AWS avec Terraform, automatisation des configurations avec Ansible,<br>
          CI/CD avec Jenkins, conteneurisation avec Docker, supervision Prometheus/Grafana.<br>
          <strong>Technos</strong> : AWS (ECS, RDS), Terraform, Ansible, Jenkins, Docker, Windows/Linux.<br>
          <strong>Résultat</strong> : Infrastructure livrée et déployée en préproduction.
        </p>
      </div>
    </div>

    <!-- Projet 3 -->
    <div class="card my-4">
      <div class="card-header">Juillet 2017 - Août 2019</div>
      <div class="card-body">
        <h5 class="card-title">APPLICATIONS DE GESTION POUR PME – PRODEVTECHNOLOGIE</h5>
        <p class="card-text text-start">
          <strong>Objectif</strong> : Concevoir et développer plusieurs applications Java SE destinées à la gestion
          opérationnelle de PME.<br>
          <strong>Projets réalisés</strong> :<br>
          - Gestion de stock et de ventes.<br>
          - Gestion locative pour agences immobilières.<br>
          - Gestion des patients pour cliniques privées.<br>
          - Gestion des étudiants pour établissements scolaires.<br>
          <strong>Rôle</strong> : Analyse des besoins clients, conception UML, développement Java SE, gestion de base de
          données MySQL,<br> tests et déploiement local.<br>
          <strong>Technos</strong> : Java SE, Swing/JavaFX, MySQL, JasperReports, VBA/Access, SQL Server, Windows/Linux,
          VirtualBox.<br>
          <strong>Résultat</strong> : Solutions livrées et utilisées en préproduction locale.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="skills" class="py-5 bg-light">
  <div class="container">
    <h2 class="fw-bold text-center">COMPÉTENCES</h2>

    <!-- Développement applicatif -->
    <div class="card my-3">
      <div class="card-header">Développement applicatif</div>
      <div class="card-body">
        <h5 class="card-title">Backend</h5>
        <p class="card-text">
          Java 17/Spring Boot 3.1.4 | Angular 16 | Python (notions) | PostgreSQL | SQL | MySQL | UML | Merise<br>
           MongoDB (notions) |NoSQL (notions) | Node.js (notions) | JavaScript (notions) | Vue.js (notions)
        </p>
      </div>
      <div class="card-body">
        <h5 class="card-title">Frontend</h5>
        <p class="card-text">Angular | HTML/CSS | Bootstrap | TypeScript</p>
      </div>
    </div>

    <!-- Test applicatif -->
    <div class="card my-3">
      <div class="card-header">Test applicatif</div>
      <div class="card-body">
        <p class="card-text">Tests Unitaires (JUnit) | Tests d’intégration (MockMvc) | Tests fonctionnels (Selenium)</p>
      </div>
    </div>

    <!-- DevOps -->
    <div class="card my-3">
      <div class="card-header">DevOps</div>
      <div class="card-body">
        <p class="card-text">GitLab | Jenkins | Terraform | Ansible | Docker | Kubernetes (notions) | Prometheus/Grafana
        </p>
      </div>
    </div>

    <!-- Cloud -->
    <div class="card my-3">
      <div class="card-header">Cloud</div>
      <div class="card-body">
        <p class="card-text">IAM | EC2 | S3 | RDS | VPC | SG</p>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="py-5 bg-dark text-white">
  <div class="container text-center">
    <h2 class="fw-bold">CONTACT</h2>
    <p class="mt-3">Intéressé par une collaboration ? Écrivez-moi ou appelez-moi.</p>
    <p class="mb-0">
      📧 <a href="mailto:makandiombana2@gmail.com" class="text-white">makandiombana2@gmail.com</a>
    </p>
    <p>
      📞 <a href="tel:+336 56 82 16 81" class="text-white">+336 56 82 16 81</a>
    </p>
  </div>
</section>